* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
}

.container {
  margin-top: 3rem;
  max-width: 50rem !important;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.btn-dark {
  margin-right: 0.75rem;
}
